/*wrap.css*/



/*----------------------------------본고딕-------------------------------------------*/
@font-face {
    font-family: 'notoBold';
    src : url('../font/NotoSansCJKkr-Bold.otf.eot');
    src : url('../font/NotoSansCJKkr-Bold.otf.eot') format('eot') format('eot');
    src : url('../font/NotoSansCJKkr-Bold.woff') format('woff');
    src : url('※'), url('../font/NotoSansCJKkr-Bold.oft') format('opentype');
}


@font-face {
    font-family: 'notoMedium';
    src : url('../font/NotoSansCJKkr-Medium.otf.eot');
    src : url('../font/NotoSansCJKkr-Medium.otf.eot') format('eot') format('eot');
    src : url('../font/NotoSansCJKkr-Medium.woff') format('woff');
    src : url('※'), url('../font/NotoSansCJKkr-Medium.oft') format('opentype');
}


@font-face {
    font-family: 'notoRegular';
    src : url('../font/NotoSansCJKkr-Regular.otf.eot');
    src : url('../font/NotoSansCJKkr-Regular.otf.eot') format('eot') format('eot');
    src : url('../font/NotoSansCJKkr-Regular.woff') format('woff');
    src : url('※'), url('../font/NotoSansCJKkr-Regular.oft') format('opentype');
}


/*---------------------------#wrap---------------------------------------------*/
#wrap{width:100%; margin: 0 auto;}
#wrap>*{margin:0 auto;}
*{font-family: 'Noto Sans KR', sans-serif;}
html, body, h1, h2, h3, h4, h5, h6, li, p{font-family: 'Noto Sans KR', sans-serif;}
